<!-- * Vista Principal Registro -->
<div class="main-holder">

    <!-- * Contenedor Card del Registro -->
<div class="register-holder container-fluid">

    <!-- Logo -->
    <div class="register-logo-holder container-fluid">
        <img src="../../../assets/img/Login-Logo.png" class="img-fluid" alt="Logo">
    </div>

    <!-- Formulario -->
    <form class="register-form-holder" [formGroup]="formReg" (ngSubmit)="onSubmit()">
        <h1 style="margin-bottom: 1.5rem;">Registro</h1>

        <div class="input-group-row"> 
            <div class="input-form-holder">
                <h2>Email</h2>
                <input type="text" class="form-control input-style-register" formControlName="email" placeholder="Ingresa tu correo electrónico">
            </div>

            <div class="input-form-holder">
                <h2>Nombre</h2>
                <input type="text" class="form-control input-style-register" value="" formControlName="name" placeholder="Ingresa tu nombre">
            </div>
        </div>
        <!-- Input email -->

        <div class="input-group-row">
            
            <!-- Input contraseña -->
            <div class="input-form-holder">
                <h2>Contraseña</h2>
                <input type="password" class="form-control input-style-register" value="pass" formControlName="password" placeholder="Ingresa tu contraseña">
            </div>

            <div class="input-form-holder">
                <h2>Apellido</h2>
                <input type="text" class="form-control input-style-register" value="" formControlName="lastName" placeholder="Ingresa tu apellido">
            </div>

        </div>

        <div class="input-group-row">

            <!-- Input confirmar contraseña -->
            <div class="input-form-holder">
                <h2>Confirma tu contraseña</h2>
                <input type="password" class="form-control input-style-register" value="confirmPassword" formControlName="confirmPassword" placeholder="Confirma tu contraseña">
            </div>

            <div class="input-form-holder">
                <h2>Número de Teléfono</h2>
                <input type="text" class="form-control input-style-register" value="" formControlName="phoneNum" placeholder="Ingresa tu número de teléfono">
            </div>

        </div>

        <!-- Imprimir error en la vista -->
        <h3> {{errorFire}} </h3>

        <!-- Botón Registrar -->
        <button class="btn-register" type="submit" value="Enviar">
            <h1>Crear cuenta</h1>
        </button>

        <!-- Link Login -->
        <div class="alternative-link-holder" style="margin-bottom: 7rem">
            <div class="alternative-link">
                <p>¿Ya tienes cuenta? <a routerLink="/login">¡Inicia sesión aquí!</a></p>
            </div>
        </div>
        
    </form>
    
</div>

</div>
