h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    font-size: 2.2rem;
    color: #004AAD;
    margin: 0;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    color: #004AAD;
    margin: 0;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    margin: 0;
}

.request-main-holder {
    height: 45rem;
    width: 79rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.request-holder{
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 2rem;
    height: 80%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: -1rem;
}

.form-holder {
    height: 95%;
    width: 100%;
    margin-top: 2.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.input-group1 {
    margin-top: 0.8rem;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.input-style-sol {
    width: 100%;
    align-self: center;
    height: 4rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #EBEBEB;
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.input-holder {
    margin-top: -2rem;
    margin-bottom: 1.5rem;
    margin-right: 2rem;
    margin-left: 2rem;
    width: 100%;
    justify-content: start;
    align-items: start;
    display: flex;
    flex-direction: column;
}
.input-holder1 {
    margin-top: -2rem;
    margin-bottom: 1.5rem;
    margin-right: 3rem;
    margin-left: 3rem;
    width: 100%;
    justify-content: start;
    align-items: start;
    display: flex;
    flex-direction: column;
}

.input-style-sol:focus {
    outline: none;
}

::placeholder{
    color: #A4A4A4;
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
    padding-left: 1rem;
}

/* * Estilo del botón de calcular */
.btn-calc {
    width: 50%;
    height: 5rem;
    border-radius: 0.3rem;
    border: none;
    color: white;
    background-color: #004AAD;
    margin-right: 1rem;
}

/* Estilo del botón calcular al pasar el mouse por encima */
.btn-calc:hover {
    transition: ease-in-out;
    scale: 1.01;
    cursor: pointer;
}

/* * Input Cuotas */
.input-style-calc-number {
    width: 110%;
    align-self: center;
    height: 4rem;
    border-radius: 0.3rem;
    border: none;
    background-color: #EBEBEB;
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
    margin-left: 1rem;
}