<div class="request-main-holder container">
    <div class="request-holder container">
        <h1 class="text-center mb-4" style="margin-top: 3rem;">Cálculo Detallado</h1>
        <form class="form-holder">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-holder">
                        <h2>Detalle</h2>
                        <input type="text" class="form-control input-style-sol" placeholder="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-holder">
                        <h2>Cantidad a Solicitar</h2>
                        <input type="number" formControlName="cantidad" class="form-control input-style-sol" placeholder="Cantidad">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="input-holder">
                        <h2>Interés</h2>
                        <input type="text" class="form-control input-style-sol" placeholder="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-holder">
                        <h2>Cantidad De Cuotas</h2>
                        <select class="form-control input-style-sol" name="monthly" id="monthly">
                            <option value="default" selected disabled>Seleccionar</option>
                            <option value="3">3</option>
                            <option value="6">6</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="input-holder">
                        <h2>Total Con Interés </h2>
                       <input type="text" formControlName="monthly" class="form-control input-style-sol" placeholder="Automático" readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-holder">
                        <h2>Total Interés</h2>
                        <input type="text" formControlName="monthly" class="form-control input-style-sol" placeholder="Automático" readonly>
                    </div>
                </div>
            </div>

            <div class="text-center mt-4">
                <button class="btn btn-calc">
                    <h3>SOLICITAR PRÉSTAMO</h3>
                </button>
            </div>
        </form>
    </div>
</div>
