<!-- * Contenedor Principal -->
<div class="main-app-holder">

    <!-- * Contenedor Barra Superior -->
    <div class="top-bar container-fluid">

        <!-- Título/Logo -->
        <div class="app-title-holder">
            <img src="../../../assets/img/Top-Bar-Logo.png" class="img-fluid logo-top" alt="logo">
        </div>

        <!-- Nombre de Usuario -->
        <div class="user-name-holder">
            <h1>Javier Linares de León - Usuario Ordinario</h1> <!-- TODO: Variable quemada, realizar Fecth del nombre de usuario --> 
        </div>

        <!-- Cambio de Moneda -->
        <div class="currency-change-holder">

            <!-- Select de las monedas -->
            <select class="currency-change" name="currency" id="currency">
                <option value="gtq">GTQ</option>
                <option value="eur">EUR</option>
                <option value="usd">USD</option>
            </select> <!-- TODO: Las variables están quemadas, aplicar función y variables -->

            <i class="fa-solid fa-chevron-down" style="margin-left: -2.5rem; color: #004AAD;"></i>
        </div>
    </div>

    <!-- * Holder del contenido -->
    <div class="app-holder container-fluid">

        <!-- Sidebar -->
        <aside class="sidebar-main container-fluid">

            <!-- Elemento Calculadora -->
            <div class="side-element-holder container-fluid">
                <div class="active-page-flag"></div>
                <div class="side-element-holder-content active-true container-fluid">
                    <i class="fa-solid fa-calculator side-icon-style"></i> 
                    <h2>Calculadora</h2>
                </div>
            </div>
    
            <!-- Elemento Detalle -->
            <div class="side-element-holder container-fluid">
                <!-- <div class="active-page-flag"></div> -->
                <div class="side-element-holder-content active-false container-fluid">
                    <i class="fa-solid fa-file-contract side-icon-style"></i> 
                    <h2>Detalle</h2>
                </div>
            </div>
    
            <!-- Elemento Solicitar -->
            <div class="side-element-holder container-fluid">
                <!-- <div class="active-page-flag"></div> -->
                <div class="side-element-holder-content active-false container-fluid">
                    <i class="fa-solid fa-plus side-icon-style"></i> 
                    <h2>Solicitar</h2>
                </div>
            </div>

            <!-- Logout -->
            <div class="side-element-holder container-fluid">
                <div class="side-element-holder-content active-false container-fluid" (click)="logOut()" style="color: #FF5757">
                    <i class="fa-solid fa-right-from-bracket side-icon-style"></i>
                    <h2>Cerrar Sesión</h2>
                </div>
            </div>

        </aside> <!-- TODO: "active-page-flag" es la vista del link seleccionado. Aplicar función --> 

        <!-- * Holder contenido -->
        <div class="content-holder">

            <!-- Componente de turno -->
            <app-calc-view></app-calc-view> <!-- TODO: El componente deberá cambiar con el ruteo -->
            
        </div>

    </div>
    
</div>
