<!-- * Vista General Componente Calculadora -->
<div class="calc-main-holder container-fluid">

    <!-- * Calculadora -->
    <form class="calc-holder container-fluid" [formGroup]="formCalc">

        <!-- Título -->
        <h1>{{titulo | uppercase }}</h1>

        <!-- Input Capital -->
        <div class="input-form-holder" >
            <input type="number" min="0" class="form-control input-style-calc" formControlName="Capital" placeholder="Capital Inicial" required>
        </div>
        
        <!-- Input Cuotas -->
        <div class="input-form-holder" >
            <select class="input-style-calc-number" formControlName="Cuotas" name="monthly" id="monthly">
                <option value="3">3</option>
                <option value="6">6</option>
                <option value="12">12</option>
                <option value="18">18</option>
                <option value="24">24</option>
                <option value="36">36</option>
                <option value="48">48</option>
                <option value="60">60</option>
                <option value="72">72</option>
                <option value="84">84</option>
                <option value="96">96</option>
                <option value="108">108</option>
                <option value="120">120</option>
            </select>
            
            <i class="fa-solid fa-chevron-down" style="margin: -2.5rem; color: #004AAD;"></i>
        </div>

        <!-- Input Tasa de Interés -->
        <div class="input-form-holder" >
            <input type="number" min="0" class="form-control input-style-calc" formControlName="Tasa" placeholder="Tasa de Interés" required>
        </div>

        <!-- Botón Calcular con evento (click) -->
        <button class="btn btn-calc" [disabled]="!formCalc.valid" type="submit" (click)="calcular()">
            <h1>Calcular</h1>
        </button>
    </form>

    <!-- * Información -->
    <div class="info-holder container-fluid">

        <!-- Elemento Cuotas sin Interés -->
        <div class="info-holder-element-container" style="margin-top: 0;">
            <h2 style="margin-left: 2.5rem;">Cuota Mensual sin Interes</h2>
            <h3 style="align-self: end; margin-right: 2.5rem;">{{"Q" + cuotaM}}</h3> <!-- TODO: Variable quemada, hacer fetch -->
        </div>

        <!-- Elemento Interés Mensual -->
        <div class="info-holder-element-container">
            <h2 style="margin-left: 2.5rem;">Interés mensual</h2>
            <h3 style="align-self: end; margin-right: 2.5rem;">{{"Q" + interes}}</h3> <!-- TODO: Variable quemada, hacer fetch -->
        </div>

        <!-- Elemento Cuotas con Interés -->
        <div class="info-holder-element-container" style="margin-bottom: 0;">
            <h2 style="margin-left: 2.5rem;">Total a Pagar por Mes</h2>
            <h3 style="align-self: end; margin-right: 2.5rem;">{{"Q" + total}}</h3></div> <!-- TODO: Variable quemada, hacer fetch -->
        </div>
        
</div>
